<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/css/reset.css" rel="stylesheet">
  <link href="/assets/css/signin_and_signup.css" rel="stylesheet">
  <link rel="icon" href="/assets/img/la4_original_icon.ico">
  <title>今日はこれだけ！</title>
</head>
  
  <!--ヘッダー部-->
  <header class="header">
    <p class="header-text">未ログイン</p>
  </header>

  <body>
    <div class="container">
      <h1>今日はこれだけ！</h1>
      <div class="buttons">
        <a href="/signin" class="btn-signin">ログイン</a>
        <a href="/signup" class="btn-signup">新規登録</a>
      </div>
    </div>
  </body>

</html>