<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>タイトル</title>
</head>
<body>
  <% unless session[:user] %>
    <a href="/signin">ログイン</a>
    <a href="/signup">新規登録</a>
    <h2>未ログイン</h2>
  <% else %>
    <a href="/signout">ログアウト</a>
    <h2><%= User.find(session[:user]).name %>としてログイン</h2>
  <% end %>
</body>
</html>