<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
  <title>今日はこれだけ！</title>
</head>

<body>

<div>
    <form action="/tasks" method="post">
        <input type="text" name="title" placeholder="タイトル"><br>
        <input type="date" name="date_start" placeholder="開始日を入力"><br>
        <input type="date" name="date_end" placeholder="終了日を入力"><br>
        <input type="text" name="quantity" placeholder="タスクの総量（数字）"><br>
        <input type="radio" name="color" value="1">ピンク
        <input type="radio" name="color" value="2">オレンジ
        <input type="radio" name="color" value="3">黄色
        <input type="radio" name="color" value="4">黄緑
        <input type="radio" name="color" value="5">水色<br>
        <!--重要度
        <input type="radio" name="importance" value="1">普通
        <input type="radio" name="importance" value="2">重要
        <input type="radio" name="importance" value="3">超重要<br>
        -->
        <input type="submit" value="登録">
    </form>
</div>

</body>
</html>