<form action="/signin" method="post">
    <input type="text" name="mail" placeholder="メールアドレス"><br>
    <input type="password" name="password" placeholder="パスワード"><br>
    <input type="submit" value="ログイン">
</form>