<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="/assets/css/reset.css" rel="stylesheet">
        <link href="/assets/css/signin_and_signup.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
        <link rel="icon" href="/assets/img/la4_original_icon.ico">
        <title>今日はこれだけ！</title>
    </head>
    
    <body>
        <!--ヘッダー部-->
        <header class="header">
            <p class="header-text">ログイン</p>
        </header>
        
        <!--ログイン-->
        <div class="container signin">
            <div class="forms">
                <form action="/signin" method="post">
                   <div class="forms-input">
                        <p class="form-head">メールアドレス</p>
                        <input type="text" name="mail" placeholder="登録したメールアドレス" class="m-form-text"><br>
                        <p class="form-head">パスワード</p>
                        <input type="password" name="password" placeholder="パスワード" class="m-form-text"><br>
                    </div>
                    <input type="submit" value="ログイン" class="m-form-submit-button">
                </form>
            </div>
            <a href="/" class="return-to-top">前の画面に戻る</a>
        </div>
    </body>
</html>