/*全てに適用するcss*/
*{
    font-family: 'M PLUS 1p', sans-serif;
}

/*ヘッダーに関するcss*/

.header{
    width: 100vw;
    height: 50px;
    background-color: #84b5cf;
    z-index: 100;
    position: fixed;
}

.nav{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #fff;
    line-height: 50px;
    padding: 0 15px;
}

.container{
    text-align: center;
    background-color: #f8f9ea;
    height: 150vh;
    padding-top: 60px;
}

.forms{
    text-align: center;
    width: 30vw;
    min-width: 300px;
    margin: 0 auto;
}

/*入力部*/

.forms-input{
    text-align: left;
}

.form-head{
    text-align: left;
    font-weight: bold;
    margin-top: 15px;
    color: #333;
}

.m-form-text {
    height: 2.4em;
    width: 100%;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
}

::placeholder{
    color: #e5e5e5;
}

.m-form-text:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}

/*日付選択*/
.dates{
    display: flex;
    justify-content: space-between;
}

.date-start{
    width: 45%;
}

.date-between{
    width: 5%;
    line-height: 1em;
    font-weight: bold;
}

.date-end{
    width: 45%;
}

.date-select {
  position: relative;
  display: inline-block;
  height: 2.4em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  width: 100%;
}

input[type="date"] {
  position: relative;
  padding: 0 10px;
  width: 100%;
  height: 2.4em;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  font-size: 14px;
  color: #ccc;
  line-height: 36px;
}


/*量と単位*/

.quantity{
    display: flex;
    justify-content: space-between;
}

.quantity-number{
    width: 60%;
}

.quantity-unit{
    width: 35%;
}

select::-ms-expand {
	display: none; /*--IEでデフォルトの矢印を消します--*/
}

select {
	/*margin: 1em 0;*/
	padding: 0 16px;
	font-size: 14px;
	border-radius: 4px;
	border: solid 1px #ccc;
	background-color: #fff;
	color: #333;
	line-height: 32px;
	background-image: url(../img/form-arrow.png);
	background-repeat: no-repeat;
	background-size: 9px 5px;
    background-position: right 20px center;
}

/*ラジオボタン*/

.options{
    display: flex;
    justify-content: center;
}
.options input{
    display: none;
}

.options label{
    display: inline-block;
    cursor: pointer;
    margin: 0;
    padding: 12px 5px;
    border-right: 1px solid #fff;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 1;
    transition: .2s;
}

.options label:first-of-type{
    border-radius: 4px 0 0 4px;
}

.options label:last-of-type{
    border-right: 0px;
    border-radius: 0 4px 4px 0;
}

.color input[type="radio"]:checked + label {
    border: solid 4px #fff;
}

.color-option-1{
    background-color: #f970e0;
}

.color-option-2{
    background-color: #f7a348;
}

.color-option-3{
    background-color: #ddd937;
}

.color-option-4{
    background-color: #73f973;
}

.color-option-5{
    background-color: #47cbea;
}

.importance label{
    background-color: #bbb;
}

.importance-option-1:checked + label {
    background-color: #ef9aaa;
}

.importance-option-2:checked + label {
    background-color: #ed5f7a;
}

.importance-option-3:checked + label {
    background-color: #f7415b;
}


/*submitボタン*/
.m-form-submit-button {
    display: inline-block;
    width: 25%;
    min-width: 200px;
    text-align: center;
    margin-top: 70px;
    padding: 8px;
    border-radius: 4px;
    background-color: #84b5cf;
    color: #fff;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: 2px solid transparent;
}

.m-form-submit-button:hover {
    filter: brightness(80%);
}

.m-form-submit-button:focus {
    outline: 0;
    filter: brightness(60%);
    border: 2px solid transparent;
}

.task-delete{
    display: inline-block;
    width: 25%;
    min-width: 200px;
    text-align: center;
    margin-top: 20px;
    padding: 8px;
    border-radius: 4px;
    background-color: #fff;
    color: #f7415b;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: 2px solid #f7415b;
}

.task-delete:hover{
    filter: brightness(80%);
}

.task-delete:focus{
    outline: 0;
    filter: brightness(80%);
}

.cancel{
    display: block;
    color: #aaa;
    margin-top: 15px;
}

.cancel:hover{
    color: #444;
}